<html>
<body>
    @Styles.Render("~/Content/Home.css")
    <address class="contact-address">
        <b>Developer</b><br />
        Name: Karol Bartyzel<br />
        E-mail: karolbartyzel@lala.com<br />
        Addr: Cracow, X st. Y/Z<br />
        Tel: +48 123 456 789
    </address>
</body>
</html>
