<html>
<body>
    @Styles.Render("~/Content/Home.css")
    <div class="grid sign-in-grid">
        <p class="sign-in-label">Login: </p><br><input class="sign-in-input"/>
        <p class="sign-in-label">Password: </p><br><input class="sign-in-input" />
        <button class="sign-in-button">Sign in</button>
    </div>
</body>
</html>
